.button {
  display: block;

  padding-top: 7px;
  padding-bottom: 7px;

  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
  text-align: center;
  background-color: @basic-green;
  color: @basic-white;
  border: none;

  &:hover {
    background-color: @basic-green-2;
  }

  &:active {
    color: @white-opacity-30;
  }

}
