.catalog-products {
  background-color: @basic-white;
}

.catalog-products__item {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  border-bottom: @grey-border;
}

.catalog-products__header {
  margin: 0;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;

  border-bottom: @grey-border;

  .h1-style;
  color: @basic-black;
}

.catalog-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-products__header-link {
  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @special-dark-grey-2;

  &:active {
    color: @dark-grey-2-opacity-30;
  }
}

.catalog-products__stats-key {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-grey;
}

.catalog-products__stats-value {
  .catalog-products__stats-key;
  margin: 0;
}
