.catalog-show-more {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  border-bottom: @grey-border;
}

.catalog-show-more__link {
  &--btn {
    padding-top: 20px;
    padding-bottom: 20px;

    display: block;
    font-family: @title-font;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-align: center;
    text-transform: uppercase;
    color: @special-dark-grey;
    background-color: @basic-grey;
  }

  &--btn:hover {
    background-color: @special-grey-2;
  }

  &--btn:active {
    color: @dark-grey-opacity-30;
  }

  &--plus {
    margin-bottom: 23px;
  }

  &--plus path {
    stroke: @plus-color;
  }

  &--plus:hover path {
    stroke: @basic-green;
  }

  &--plus:active path {
    stroke: @green-opacity-30;
  }
}

.catalog-show-more__call-to-action {
  margin: 0;
  margin-bottom: 8px;

  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @dealers;
}

.catalog-show-more__desc {
  margin: 0;
  margin-bottom: 21px;

  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special-dark-grey;
}
