.example {
  padding-top: 27px;
  padding-bottom: 30px;

  background-color: @example-background;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-bottom: 69px;

    background-color: @basic-white;
    background-image: linear-gradient(to top, @example-background 462px, @basic-white 462px);
    border-top: 1px solid @menu-border-color;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    z-index: 1;

    padding-bottom: 0;

    box-sizing: border-box;
    display: flex;
    background-image: none;
    border-top: none;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: -1;

      width: 100%;
      height: 462px;
      background-image: linear-gradient(to right, @basic-grey calc(50% - 40px), @example-background calc(50% - 40px));
    }
  }
}

.example--before::before {
  background-color: @basic-grey;
  background-image: none;
}

.example__wrapper {
  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0 30px;

    display: grid;
    grid-template-columns: 570px 650px;
  }
}

.example__wrapper-text {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 570px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.example__header {
  margin: 0;
  margin-bottom: 33px;

  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 148px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;

  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;

    margin-bottom: 67px;
    padding-right: 135px;
  }
}

.example__stats-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;

    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 70px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;

    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.example__stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  justify-content: center;

  margin: 0;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-right: auto;
    grid-column-gap: 42px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.example__stats-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;

  box-sizing: border-box;
  min-height: 56px;
  min-width: 124px;

  border: 1px solid @special-grey;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    grid-column-gap: 42px;

    width: 162px;
    min-height: 72px;
  }
}

.example__key {
  margin-bottom: 4px;

  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__desc {
  position: absolute;
  bottom: -15px;

  margin: 0;

  box-sizing: border-box;
  width: 80px;

  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: @special-dark-grey;
  text-align: center;
  background-color: @example-background;

  @media (min-width: @tablet-width) {
    padding-left: 7px;
    padding-right: 7px;
    bottom: -6px;

    font-size: 14px;
    line-height: 14px;
    background-color: @basic-white;
    width: auto;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-grey;
  }
}

.example__price {
  margin: 0;
  margin-bottom: 42px;

  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 174px;

    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 327px;
  }
}

.example__price-text {
  @media (min-width: @desktop-width) {
    margin-right: 10px;
    text-align: left;
  }
}

.example__photo-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  margin-bottom: 23px;
  padding: 0;

  list-style: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 27px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    margin-bottom: 0;
  }
}

.example__item {
  @media (min-width: @tablet-width) {
    & img {
      width: 690px;
      height: 517px;
    }
  }

  @media (min-width: @desktop-width) {
    & img {
      max-width: none;
      position: relative;
      bottom: 130px;
      left: 0;
    }
  }
}

.example__item--hidden {
  display: none;
}


.example__item--before {
  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to top, @basic-grey 462px, @basic-white 462px);
  }
}

.example__slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 1px;
  left: 50%;

  margin-left: -114px;

  @media (min-width: @tablet-width) {
    position: static;

    margin-left: 0;
    left: auto;
    right: auto;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 69px;

    justify-content: flex-start;
    padding-left: 79px;
  }
}

// Slider
.example__wrapper-image {
  position: relative;

  min-height: 290px;

  & img {
    position: absolute;
    left: 50%;
    bottom: 63px;

    margin-left: -156px;
  }

  @media (min-width: @tablet-width) {
    padding: 0;

    & img {
      position: relative;
      left: 7px;
      bottom: -22px;

      margin-left: 0;
    }
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;

    margin: 0;
    padding-left: 0;
    padding-right: 0;

    & img {
      position: absolute;
      left: 0;
      bottom: 134px;

      margin-left: 0;
    }
  }
}

// Range-slider
.example__range-slider {
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  box-sizing: border-box;
  height: 14px;
  min-width: 84px;
  border: 1px solid @special-grey;
  border-radius: 6px;
  background-color: @basic-white;

  &--before {
    justify-content: flex-start;
  }

  &--after {
    justify-content: flex-end;
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 0;

    min-width: 428px;
    height: 6px;
    background-color: @range-slider-color;
    border: none;
  }
}

.example__slider-track {
  width: 50%;
  height: 6px;
  background-color: @basic-green;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    width: 8px;
    height: 8px;

    border: 12px solid @basic-white;

    border-radius: 50%;
    justify-content: center;
    box-shadow: 0 0 0 1px @special-grey, 0 1px 3px rgba(0, 0, 0, 0.16);

    &:hover {
      box-shadow: 0 0 0 1px @special-grey, 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      box-shadow: 0 0 0 1px @basic-green, 0 3px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

.example__slider-button {
  padding-top: 5px;
  padding-bottom: 5px;

  box-sizing: border-box;
  width: 70px;

  border: none;
  background-color: transparent;
  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  &--before {
    margin-right: 2px;

    @media (min-width: @tablet-width) {
      margin-right: 23px;
    }
  }

  &--after {
    margin-left: 2px;

    @media (min-width: @tablet-width) {
      margin-left: 23px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    width: auto;

    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px solid @black-opacity-40;
    border-bottom-style: dashed;

    &:hover {
      border-bottom-style: solid;
    }

    &:active {
      border-bottom-color: transparent;
      outline: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 2px;
  }
}
