.example {
  padding-top: 27px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: @example-background;
}

.example__header {
  margin: 0;
  margin-bottom: 33px;

  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
}

.example__text {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}

.example__stats {
  margin-bottom: 34px;
}

.example__key {
  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
}

.example__desc {
  margin: 0;

  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: @special-dark-grey;
}

.example__price {
  margin-bottom: 42px;

  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
  text-align: center;
}
