.how-it-works {
  padding-top: 28px;
  padding-bottom: 20px;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 102px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
    padding-bottom: 82px;
  }
}

.how-it-works__header {
  margin: 0;
  margin-bottom: 40px;
  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-works__list {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 133px;

    counter-reset: myCounter;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.how-it-works__item {
  position: relative;
  z-index: 2;

  list-style: none;

  margin-bottom: 0;
  padding-left: 80px;

  box-sizing: border-box;
  min-height: 80px;
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    padding-top: 112px;
    padding-left: 0;
    padding-right: 65px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 112px;
    padding-right: 0;
  }

  &--leaf::after {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px auto;
    }
  }

  &--powder::after {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px auto;
    }
  }

  &--eating::after {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px auto;
    }
  }

  &--month::after {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px auto;
    }
  }
}

.how-it-works__item::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    top: 0;
    width: 80px;
    height: 80px;
  }
}

.how-it-works__item::before {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  counter-increment: myCounter;
  content: counter(myCounter);

  position: absolute;
  top: -40px;
  left: 112px;
  z-index: -1;

  display: inline-block;

  font-family: @title-font;
  font-size: 280px;
  line-height: 280px;
  text-align: center;
  color: @basic-grey;
}

.how-it-works__item:first-child::before {
  left: 118px;
}
