.main-nav {
  position: relative;
  display: flex;
  flex-direction: column;

  border-top: @grey-border-menu;

  @media (min-width: @tablet-width) {
    border-top: none;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -35px;
  right: 20px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
