.map__wrapper {
  padding-top: 28px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @basic-white;

  &--grey {
    background-color: @basic-grey;
  }
}

.map__dealers {
  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dealers;
}

.map__address {
  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey;
}

.map__wrapper-map {
  background-color: @special-grey-3;
}
