.page-header {
  background-color: @basic-white;
  width: 100%;
}

.page-header--over {
  @media (min-width: @desktop-width) {
    position: absolute;
    background-color: transparent;
  }
}

.page-header__wrapper {
  box-sizing: border-box;
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.page-header__logo {
  margin-bottom: 5px;
  padding-left: 20px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
  height: 60px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    height: 106px;

    & img {
      width: 174px;
      height: 52;
    }
  }

  @media (min-width: @desktop-width) {
    height: 165px;

    & img {
      width: 202px;
      height: 59px;
    }
  }
}
