.page-footer {
  display: flex;
  flex-direction: column;
  background-color: @basic-grey;
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 143px;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-max) {
    &--form-layout {
      padding-left: 70px;
      padding-right: 70px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;

    width: 1220px;
  }
}

.page-footer__logo {
  padding-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 87px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;

    justify-content: flex-start;
    min-height: 144px;
  }

  @media (min-width: @desktop-width) {
    min-height: 150px;
  }
}

.page-footer__logo:not([href]):hover {
  opacity: 1;
}
