.programs {
  background-color: @basic-white;
}

.programs__list {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

.programs__item {
  margin-bottom: 20px;
  background-color: @basic-grey;
  &:last-child {
    margin-bottom: 0;
  }
}

.programs__header {
  margin: 0;
  margin-bottom: 29px;
  padding-top: 30px;
  padding-left: 91px;

  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @basic-black;
}

.programs__text {
  margin-bottom: 38px;
  padding-left: 20px;
  padding-right: 20px;

  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}

.programs__link {
  margin-left: 20px;
  padding-right: 50px;

  display: block;
  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black;

  &:active {
    opacity: 0.3;
  }
}
