.promo {
  box-sizing: border-box;

  align-items: center;

  background-image: url("../img/index-background-mobile@1x.jpg"),
    linear-gradient(to bottom, @basic-green-2 320px, @basic-white 320px);
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: @tablet-width) {
    background-image: none;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/index-background-desktop@1x.jpg"),
      linear-gradient(to left, @basic-green-2 50%, @basic-white 50%);
    background-position: top right, center;
  }
}

.promo__wrapper {
  min-height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-height: 838px;
    margin-bottom: -21px;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    min-height: 694px;
    padding-top: 223px;
  }
}

.promo__header {
  width: 249px;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
  color: @basic-white;
  text-align: center;

  .h1-style;

  @media (min-width: @tablet-width) {
    margin-bottom: 42px;
    padding-top: 29px;
    padding-left: 87px;

    width: 420px;

    color: @basic-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
    margin-left: 50px;
    padding: 0;
    z-index: 1;
  }
}

.promo__slogan {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;

  font-family: @title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;
    padding-left: 88px;

    width: 420px;
    color: @basic-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
    margin-left: 50px;
    padding-left: 0;
    z-index: 1;
  }
}

.promo__image {
  margin: 0;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;

    margin-top: -70px;

    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    right: -5px;
    bottom: 55px;
    z-index: 0;

    margin: 0;
    margin-right: 220px;
    order: auto;

    width: 552px;
    height: 499px;
  }
}

.promo__button {
  box-sizing: border-box;
  display: block;
  width: 100%;

  font-size: 14px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    position: relative;
    z-index: 1;

    margin-left: 82px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 26px;
    padding-right: 26px;

    display: block;

    width: 244px;
    box-sizing: border-box;

    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 50px;
    margin-right: 286px;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: flex-start;
  }
}
