.promo-action {
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
  background-color: @basic-white;

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.promo-action__wrapper {
  position: relative;

  display: flex;
  justify-content: center;

  background-color: @basic-green;

  @media (min-width: @desktop-width) {
    height: 289px;
  }
}

.promo-action__text {
  position: absolute;
  bottom: 43px;

  font-family: @main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @basic-white;
}
