/* Global */
body {
  box-sizing: border-box;
  // width: 100%;
  min-width: @mobile-width;
  margin: 0;
  padding: 0;
  font-family: @main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
  background-color: @basic-white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: @mobile-width - 20px * 2;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1220px;
  }
}
